<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         {%if user.user_type == '1'%}
         {% csrf_token %}
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li>
               <a href="{%url 'hod_home'%}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span
                     class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{%url 'add_student'%}"> Add Student</a></li>
                  <li><a href="{%url 'view_student'%}">View Student</a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span
                     class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{%url 'add_staff'%}">Add Staff</a></li>
                  <li><a href="{%url 'view_staff'%}">View Staff</a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-graduation-cap"></i> <span> Course</span> <span
                     class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{%url 'add_course'%}">Add Course</a></li>
                  <li><a href="{%url 'view_course'%}">View Course</a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span
                     class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{%url 'add_subject'%}">Add Subject</a></li>
                  <li><a href="{%url 'view_subject'%}">View Subject</a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-clock"></i> <span> Session</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{%url 'add_session'%}">Add Session</a></li>
                  <li><a href="{%url 'view_session'%}">View Session</a></li>
               </ul>
            </li>
         </ul>
         <li>
            <a href="{% url 'staff_send_notification'%}"><i class="fa fa-bell"></i> <span> Send Staff Notifaction
               </span></a>
         </li>
         <li>
            <a href="{% url 'student_send_notification' %}"><i class="fa fa-bell"></i> <span> Send Student Notifaction </span></a>
         </li>
         <li>
            <a href="{% url 'view_attendance'%}"><i class="fa fa-calendar"></i> <span> View Attendance </span></a>
         </li>
         <li>
            <a href="{%url 'staff__feedback'%}"><i class="fas fa-comments"></i> <span> Staff Feedback </span></a>
         </li>
         <li>
            <a href="{% url 'student__feedback'%}"><i class="fas fa-comments"></i> <span> Student Feedback </span></a>
         </li>
         <li>
            <a href="{% url 'staff_leave_view' %}"><i class="fas fa-envelope"></i> <span> Staff Leave </span></a>
         </li>
         <li>
            <a href="{% url 'student_leave_view' %}"><i class="fas fa-envelope"></i> <span> Student Leave </span></a>
         </li>
         <li><i class=""></i>
            <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout </span></a>
         </li>
         </ul>
         {%elif user.user_type == '2' %}
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li>
               <a href="{%url 'hod_home'%}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
            </li>
            <li>
               <a href="{%url 'staff_take_attendance'%}"><i class="fas fa-calendar-alt"></i> <span>Take Attendance</span></a>
            </li>
            <li>
               <a href="{%url 'staff_view_attendance'%}"><i class="fas fa-calendar-alt"></i> <span>View Attendance</span></a>
            </li>
            <li>
               <a href="{%url 'add_result'%}"><i class="fas fa-poll-h"></i> <span>Add Result</span></a>
            </li>
            <li>
               <a href="{%url 'staff_apply_leave'%}"><i class="fas fa-envelope-open"></i> <span>Apply for Leave</span></a>
            </li>
            <li>
               <a href="{%url 'notifications'%}"><i class="fas fa-bell"></i> <span>Notifications</span></a>
            </li>
            <li>
               <a href="{%url 'staff_feedback'%}"><i class="fas fa-comment"></i> <span>Send Feedback</span></a>
            </li>
            <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout </span></a>
            </li>
         </ul>

         {% else %}
         
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li>
               <a href="{%url 'student_home'%}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
            </li>
            <li>
               <a href="{%url 'student_view_attendance'%}"><i class="fas fa-calendar-alt"></i> <span>View Attendance</span></a>
            </li>
            <li>
               <a href="{%url 'view_result'%}"><i class="fas fa-poll"></i> <span>View Result</span></a>
            </li>
            <li>
               <a href="{%url 'student_leave'%}"><i class="fas fa-envelope-open"></i> <span>Apply for Leave</span></a>
            </li>
            <li>
            <a href="{%url 'student_feedback'%}"><i class="fas fa-comment"></i> <span>Send Feedback</span></a>
            </li>
            <li>
               <a href="{%url 'student_notification'%}"><i class="fas fa-bell"></i> <span>Notifications</span></a>
            </li>
            <li>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span> Logout </span></a>
            </li>
         </ul>


         {% endif %}


      </div>
   </div>
</div>